<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<radius>
		<version>ToughRadius V1.0</version>
		<authPort>1812</authPort>
		<acctPort>1813</acctPort>
		<adminPort>1815</adminPort>
		<maxSessionTimeout>86400</maxSessionTimeout>
	</radius>
	<webapp>
		<port>8080</port>
		<maxConn>1024</maxConn>
	</webapp>
	
	<database>
		<driver>org.hsqldb.jdbc.JDBCDriver</driver>
		<url>jdbc:hsqldb:./data/radius</url>
		<username>sa</username>
		<password></password>
	</database>	
	<!--
	<database>
		<driver>com.mysql.jdbc.Driver</driver>
		<url>jdbc:mysql://127.0.0.1:3306/radius_db?useUnicode=true&amp;characterEncoding=UTF-8</url>
		<username>root</username>
		<password>tsroot</password>
	</database>	-->	
</config>